@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

/* * {
  font-family: "Roboto Slab", serif;
} */

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 14px;
  cursor: pointer;
}

.hamburger-line {
  height: 2px;
  width: 100%;
  background-color: black;
  transition: all 0.3s ease;
}

.hamburger-line.active:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger-line.active:nth-child(2) {
  opacity: 0;
}

.hamburger-line.active:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
